@import "../../colors.scss";

.message {
  @extend %message-shared;
}
.success {
  @extend %message-shared;
  border-color: green;
}
.order-card{
    border: 1px solid pink;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}
//CSS
// .message {
//     border: 1px solid #ccc;
//     padding: 10px;
//     color: #333;
//   }
//   .success {
//     border: 1px solid #ccc;
//     padding: 10px;
//     color: #333;
//     border-color: green;
//   }
